@charset 'utf-8';

@import 'settings';
@import 'foundation/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
 @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
 @include foundation-top-bar;

.row + .row {
	margin-top: 20px;
}



.ba-article {
	background: $white;
	min-height: 540px;
	position: relative;
	.ba-article__foto {
		width: 100%;
		margin-bottom: 20px;
		&:hover {
			background: #FFF;
			opacity: 0.6;
			transition: opacity .3s ease-in;
		}
	}

	.ba-article__contant {
		padding-left: 28px;
	}
	.ba-article__name {
		margin-top: 13px;
		color: $black;
		text-transform: uppercase;
		letter-spacing: 0.025px;
		&:hover {
			color: grey;
		}
	}

	span {
		font-size: 13px;
		color: #818181;
		&:hover {
			color: $black;
		}
	}
	.ba-article__author {
		position: absolute;
		bottom: 24px;
		left: 28px;
		&:hover {
			background: #FFF;
			opacity: 0.7;
			transition: opacity .3s ease-in;
		}
	}

}

.ba-last-article {

	background: url('../img/img.jpg') no-repeat 100%;
	min-height: 540px;
	position: relative;
	&:hover {
			opacity: 0.6;
			transition: opacity .3s ease-in;
	}
	.ba-last-article__content {
		position: absolute;
		bottom: 5%;
		padding-left: 55px;
		color: $white;

	}
	.ba-article__name {
		line-height: 36px;
		margin-top: 15px;
	}

	.ba-gradient {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
		height: 90%;
	}
}


.ba-new-content {
	position: relative;
	margin-top: 60px;
	img {
		position: absolute;
		left: 40%;
		bottom: -3px;

	}

	p {
		text-align: center;
		color: #99a5b0;
		font-size: 13px;
	}
}
